body {
    font-size: 24px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}